name: kairos
services:
  gotrain:
    image: rijdendetreinen/gotrain
    environment:
      - API_ADDRESS=:8080 # Do not change this or else the router breaks
      - SOURCE_SERVER=tcp://pubsub.besteffort.ndovloket.nl:7664
      - SOURCE_ENVELOPES_ARRIVALS=/RIG/InfoPlusDASInterface4
      - SOURCE_ENVELOPES_DEPARTURES=/RIG/InfoPlusDVSInterface4
      - SOURCE_ENVELOPES_SERVICES=/RIG/InfoPlusRITInterface5
    ports:
      - 8080:8080
    restart: always
    volumes:
      - './data/:/data/'
  rendering:
    image: ghcr.io/emmaknijn/kairos-rendering:latest
    environment:
      - ENDPOINT=http://gotrain:8080
      - PORT=3000 # Do not change this or else the router breaks
    ports:
      - 3000:3000 
    depends_on:
      - gotrain
    restart: always
  router:
    image: ghcr.io/emmaknijn/kairos-router:latest
    ports:
      - 80:80
    depends_on:
      - rendering
      - gotrain
    restart: always